@use "../mixins" as *;

.services {}

.services__title {
    padding-left: 16px;
    padding-top: 16px;
    background: #fff;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(126, 126, 130);
    max-width: 288px;
    padding-bottom: 20px;
}


.services__carousel {
    overflow: hidden;
    position: relative;
    background: rgb(248, 248, 248);
    height: 100vh;
}

.services__carousel-shadow {
    z-index: 100;
    position: absolute;
    top: 0px;
    right: 0;
    width: 14px;
    height: 100px;
    background: linear-gradient(0deg, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}

.carousel__list {
    position: relative;
    transition: transform 0.5s ease-in-out;
    position: relative;
    padding-top: 16px;
    overflow: visible;
    display: flex;
    padding-left: 16px;
    margin-bottom: 16px;
}

.carousel__list-item {
    flex: 0 0 80%;
    width: 240px;
    margin-right: 16px;
    padding: 20px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

    &:last-child {
        margin-right: 0;
    }

    @include respond-to(320) {
        min-width: 240px;
    }
}

.services__list-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 62, 121);
    border-radius: 50%;
}

.services__list-item-btn-svg {
    fill: rgb(255, 62, 121);
}

.carousel__list-points {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__list-points-point {
    margin-right: 12px;
    width: 12px;
    height: 12px;
    background: rgb(221, 221, 221);
    border-radius: 50%;

    &:last-child {
        margin-right: 0;
    }
}

.carousel__list-points-point__active {
    background: rgb(181, 182, 188);
}