@font-face {
  font-family: "TT";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("TTLakes-Regular.woff") format("woff"), url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("TTLakes-Bold.woff") format("woff"), url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("TTLakes-Medium.woff") format("woff"), url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(27, 28, 33);
  font-weight: 500;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.services__title {
  padding-left: 16px;
  padding-top: 16px;
  background: #fff;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(126, 126, 130);
  max-width: 288px;
  padding-bottom: 20px;
}

.services__carousel {
  position: relative;
  background: rgb(248, 248, 248);
  height: 100vh;
}

.services__carousel-shadow {
  z-index: 100;
  position: absolute;
  top: 0px;
  right: -7px;
  width: 24px;
  height: 100px;
  background: linear-gradient(0deg, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}

.carousel__list {
  position: relative;
  padding-top: 16px;
  overflow: auto;
  display: flex;
  padding-left: 16px;
  margin-bottom: 16px;
}

.services__list-item {
  width: 240px;
  margin-right: 16px;
  padding: 20px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
@media (min-width: 320px) {
  .services__list-item {
    min-width: 240px;
  }
}

.services__list-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 62, 121);
  border-radius: 50%;
}

.services__list-item-btn-svg {
  fill: rgb(255, 62, 121);
}

.carousel__list-points {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__list-points-point {
  margin-right: 12px;
  width: 12px;
  height: 12px;
  background: rgb(221, 221, 221);
  border-radius: 50%;
}
.carousel__list-points-point:last-child {
  margin-right: 0;
}

.carousel__list-points-point__active {
  background: rgb(181, 182, 188);
}

/*# sourceMappingURL=style.css.map */
