@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@font-face {
  font-family: "TT";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("TTLakes-Regular.woff") format("woff"), url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("TTLakes-Bold.woff") format("woff"), url("TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("TTLakes-Medium.woff") format("woff"), url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "TT", sans-serif;
  font-size: 16px;
  color: rgb(27, 28, 33);
  font-weight: 500;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  min-height: 100vh;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  padding-top: 17px;
  padding-bottom: 30px;
}

.sidebar__menu {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.sidebar__menu-close {
  margin-right: 16px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 62, 121);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.sidebar__menu-close:hover .close {
  fill: #3ede9e;
}

.close {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}

.sidebar__menu-logo {
  margin-right: 78px;
}
@media (max-width: 320px) {
  .sidebar__menu-logo {
    margin-left: 16px;
  }
}

.logo {
  cursor: pointer;
  width: 96.55px;
  fill: #80949F;
  stroke: #80949F;
  transition: all 0.2s ease-in-out;
}
.logo:hover {
  fill: #6a95ad;
  stroke: #6a95ad;
}

.sidebar__menu-repair {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 62, 121);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.sidebar__menu-repair:hover .repair {
  fill: #3ede9e;
}

.repair {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}

.sidebar__menu-search {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 62, 121);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.sidebar__menu-search:hover .search {
  fill: #3ede9e;
}

.search {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}

.sidebar__nav {
  margin-bottom: 265px;
}

.sidebar__nav-list-item {
  max-width: 220px;
  margin-bottom: 39px;
  position: relative;
  margin-left: -15px;
  padding-left: 15px;
  transition: all 0.15s ease-in;
}
.sidebar__nav-list-item::before {
  content: "";
  position: absolute;
  border-radius: 0 4px 4px 0;
  top: 0;
  left: -5px;
  background: rgb(65, 246, 215);
  height: 100%;
  width: 4px;
  opacity: 0;
  transition: opacity 0.15s ease-in, background-color 0.15s ease-in;
}
.sidebar__nav-list-item:hover {
  color: rgb(126, 126, 130);
}
.sidebar__nav-list-item:hover::before {
  opacity: 1;
  background: rgb(45, 200, 160);
}
.sidebar__nav-list-item:last-child {
  margin-bottom: 0;
}

.sidebar__footer-menu {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.sidebar__footer-phone {
  width: 18px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 62, 121);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.sidebar__footer-phone:hover .phone {
  fill: #3ede9e;
}

.phone {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}

.sidebar__footer-message {
  width: 20px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 62, 121);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.sidebar__footer-message:hover .message {
  fill: #3ede9e;
}

.message {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}

.sidebar__footer-contact {
  width: 20px;
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: rgb(255, 62, 121);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.sidebar__footer-contact:hover .contact {
  fill: #3ede9e;
}

.contact {
  transition: all 0.2s ease-in-out;
  fill: #fff;
}

.sidebar__footer-email {
  max-width: 160px;
  color: rgb(27, 28, 33);
  transition: all 0.2s ease-in-out;
  margin-bottom: 12px;
}
.sidebar__footer-email:hover {
  color: #3ede9e;
}

.sidebar__footer-call {
  font-family: "Russo One", sans-serif;
  font-weight: 700;
  margin-bottom: 45px;
  max-width: 220px;
  font-size: 24px;
  line-height: 32px;
  color: rgb(27, 28, 33);
  transition: all 0.2s ease-in-out;
}
.sidebar__footer-call:hover {
  color: #3ede9e;
}

.sidebar__footer-lang {
  display: flex;
}

.sidebar__footer-lang-item {
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(27, 28, 33);
  margin-right: 7px;
  transition: all 0.2s ease-in-out;
}
.sidebar__footer-lang-item:hover {
  color: #3ede9e;
}
.sidebar__footer-lang-item:last-child {
  margin-right: 0;
}

.sidebar__footer-lang-item_active {
  color: rgb(126, 126, 130);
}
.sidebar__footer-lang-item_active:hover {
  color: rgb(126, 126, 130);
}

/*# sourceMappingURL=style.css.map */
